if TARGET_NGENIC_CURIE

config SYS_BOARD
	default "curie"

config SYS_VENDOR
	default "ngenic"

config SYS_CONFIG_NAME
	default "ngenic_curie"

config SYS_UBOOT_OFFSET
	hex "u-boot.imx offset on the physical device"
	default 400

endif
